body {
	display: grid;
	background-color: #1ab6ff;
}

#Status {
	text-align: center;
	height: 50%;
	width: 90%;
}

.Hidden {
	opacity: 0;
}

#Celebration {
	text-align: center;
	height: 90%;
	width: 90%;
}