body {
	display: grid;
	background-color: #1ab6ff;
}

#status {
	text-align: center;
	height: 50%;
	width: 90%;
}

.hidden {
	opacity: 0;
}

#celebration {
	text-align: center;
	height: 90%;
	width: 90%;
}