/* Start sidebar*/

/* End sidebar*/

body {
	display: grid;
	background-color: #1ab6ff;
	grid-template-rows: 49vh 49vh;
}

#status {
	text-align: center;
	height: 50%;
	width: 90%;
	font-size: xx-large;
}

.hidden {
	opacity: 0;
}