#spec-modal {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0);
	margin: 0px;
}

body {
	display: grid;
	background-color: #16a2e2;
	overflow: hidden;
	grid-template-rows: 55px 38px 42px calc(100vh - 207px) 54px;
}

body > div {
	margin: 10px;
}

#guesses {
	overflow: auto;
	width: 130px;
}

#guessBody > div {
	display: flex;
	justify-content: space-between;
}

#alphabet {
	display: flex;
	justify-content: space-evenly;
}