body {
	display: grid;
	background-color: #1ab6ff;
	grid-template-rows: 40px 20px 24px;
	overflow: hidden;
}

#guesses {
	overflow: auto;
	width: 20vw;
	height: 70vh;
}

#alphabet {
	display: flex;
	justify-content: space-evenly;
}